:css
  table th, table td{
    border: 1px solid black !important;
  }

  @media print {
    table th, table td{
      border: 1px solid black !important;
    }
  }
%br/
.container
  %table.table.table-bordered.table-striped
    %tbody
      %tr
        %td
          = image_tag '/images/logo.png', width: 120
        %td{colspan: 4, :style => "text-align:center"} 
          %h3
            %b Fluxo de Processo de Aquisição
        %td.col-md-2
          %br/
          %b{:style => "font-size: 35px; padding-top: 35px;"}= "#{@order.id}/#{@order.created_at.strftime('%Y')}"
  %table.table.table-bordered.table-condensed.table-striped{:style => "font-size: 12px; padding-top: 35px;"}
    %tbody
      %tr
        %th Quem requisitou?
        %th Departamento / Centro de custo
        %th Tipo de FPA
        %th Quantidade de Itens?
        %th{colspan: 2} Número da FPA
      %tr
        %td= @order.requester.upcase
        %td= @order.contract.name.upcase if @order.contract.present?
        %td= @order.buy_type.upcase
        %td= @order.order_items.count
        %td{colspan: 2}= @order.id
      %tr
        %th Data e Hora de Emissão da FPA
        %th Número da Nota Fiscal
        %th Tipo da Aquisição
        %th{:colspan => 4} Utilização do pedido
      %tr
        %td= @order.created_at.strftime('%d/%m/%Y às %H:%M')
        %td= @order.invoice_number
        %td= @order.order_type.to_s.humanize
        %td{:colspan => 3}= @order.description.to_s.upcase
      %tr
        %th Forma de pagamento
        %th Prazo de pagamento
        %th Prazo de entrega
        %th Fornecedor
        %th Vendedor
        %th Fone/Fax
      %tr
        %td= @order.form_payment.upcase
        %td= @order.deadline_payment.upcase
        %td= @order.delivery.upcase
        %td= @order.supplier.name.upcase if @order.supplier.present?
        %td= @order.seller.upcase
        %td= @order.supplier.contact_telephone if @order.supplier.present?
      %tr
        %th Rubrica de Aprovação 
        %th{:colspan => 2} Comentário da Diretoria
        %th{:colspan => 3} R$ Total de Compra Efetuada
      %tr
        %td 
        %td{:colspan => 2}
        %td{:colspan => 3}
          %b{style: "font-size: 25px"}= number_to_currency @order.order_items.sum(:total_value)

  %table.table.table-bordered.table-condensed.table-striped{:style => "font-size: 12px; padding-top: 35px;"}
    %tbody
      %tr
        %th Item 
        %th QTD
        %th Unidade
        %th Descrição
        %th Valor Unitário
        %th Valor Total
        %th Valor Contrato
      - @order.order_items.includes(:product).order('purchase_products.name').each_with_index do |item, index|
        %tr
          %td.col-md-1
            = index + 1
          %td.col-md-1
            = item.quantity
          %td.col-md-1
            = item.unit_id
          %td.col-md-6
            = item.product.name
          %td.col-md-1
            = number_to_currency item.unit_value
          %td.col-md-2
            = number_to_currency item.total_value
          %td.col-md-2
            = number_to_currency item.contract_value