.ui.grid
  .row.no-print 
    .six.column
      %h1 Gestão de Compras
      = link_to "+ Adicionar Compra", new_order_path, class: 'ui button primary'
  
  .row
    .six.column
      .ui.blue.segment
        = simple_form_for url_for, method: :get do |f|
          .six.fields
            .field
              = f.input :start, label: "Data Inicial", input_html: {class: 'date', value: params[:by_period] ? params[:by_period][:started_at] : localize(Date.today.beginning_of_month), name: 'by_period[started_at]'}
            .field
              = f.input :end, label: "Data Final",input_html: {class: 'date', value: params[:by_period] ? params[:by_period][:ended_at] : localize(Date.today.end_of_month), name: 'by_period[ended_at]'}
            .field
              = f.input :contract_id, label: "Contrato", as: :select, collection: Core::Contract.all.order(:name), include_blank: "todos...", input_html: { name: 'by_contract'}, selected: params[:by_contract]
            .field
              = f.input :status, label: "Situação", as: :select, collection: Purchase::Order.statuses, include_blank: 'todos...', input_html:{ name: 'by_status'}, selected: params[:by_status]
            .field
              = f.input :number, label: "Nº FPA", input_html: { name: 'by_id', value: params[:by_id]}
            .field.filter-button.no-print 
              = f.submit "filtar lista", name: nil, class: 'ui button blue'
  .row
    .six.column
      %table.ui.blue.table.striped.celled
        %thead
          %tr
            %th Nº
            %th Contrato
            %th Descrição
            %th Data
            %th Valor
            %th Situação
            %th.no-print 
        %tbody
          - @orders.each do |item|
            %tr
              %td.collapsing= item.id
              %td.collapsing= item.contract.name
              %td= item.description
              %td.collapsing= item.created_at.strftime("%d/%m/%Y")
              %td.collapsing= number_to_currency item.order_items.sum(:total_value)
              %td.collapsing= item.status
              %td.collapsing.no-print 
                .ui.dropdown.icon.tiny.left.pointing.primary.button
                  Ações
                  %i.dropdown
                  .menu.ui
                    .item
                      %i.edit.icon
                      %a{href: "#{purchase.edit_order_path(item)}"}
                        Editar
                    .item
                      %i.delete.icon
                      %a{href: "#{purchase.order_path(item)}", data: { method: 'delete'}}
                        Remover
                    .item
                      %i.eye.icon
                      %a{href: "#{purchase.order_fpa_path(item)}"}
                        Visualizar
                    .item
                      %i.print.icon
                      %a{href: "#{purchase.order_fpa_path(item)}", target: '_blank'}
                        Emitir FPA
          %tr
            %td{colspan: 2} 
              %h3
                %b Total
            %td{colspan: 2,  style: 'text-align: right'}
              %h3
                %b= "#{@orders.count} listados"
            %td{colspan: 3,  style: 'text-align: right'}
              %h3
                %b= number_to_currency @orders.total_value(@orders)

