.ui.stackable.menu.no-print 
  .item
    %img{:src => "/images/logo.png"}
  .ui.simple.dropdown.item
    Compras
    %i.dropdown.icon
    .menu
      %a.item{href: "#{purchase.root_path}"} Visão geral
      %a.item{href: "#{purchase.orders_path}"} Gestão de Compras
      %a.item{href: "#{purchase.requests_path}"} Gestão de Pedidos
      %a.item{href: "#{purchase.stocks_path}"} Gestão do Estoque
      %a.item{href: "#{purchase.patrimonies_path}"} Gestão de Patrimônios
      %a.item{href: "#{purchase.suppliers_path}"} Gestão de Fornecedores
      .divider
      %a.item{href: "#{purchase.new_order_path}"} + Adicionar Compra
      %a.item{href: "#{purchase.new_supplier_path}"} + Adicionar Fornecedor
      %a.item{href: "#{purchase.new_stock_path}"} + Entrada/Saída Estoque
      %a.item + Movimentação Patrimônio
      .divider
      %a.item Pesquisa por Produto
      .divider
      %a.item Balance por Produto
      %a.item Balance por Fornecedor
  .ui.simple.dropdown.item
    Financeiro
    %i.dropdown.icon
    .menu
      %a.item{href: "#{financial.root_path}"} Visão Geral
      %a.item{href: "#{financial.bills_path}"} Contas à pagar
      %a.item{href: "#{financial.bills_path}"} Contas à receber
      %a.item{href: "#{financial.vincibles_path}"} Gestão de boletos
      %a.item{href: "#{financial.cash_registers_path}"} Gestão de caixa
      .divider
      %a.item{href: "#{financial.new_bill_path}"} + Adicionar Conta
      %a.item{href: "#{core.new_contract_path}"} + Adicionar Centro de custo
      %a.item{href: "#{financial.new_bill_category_path}"} + Adicionar Categoria
      %a.item{href: "#{financial.new_cash_register_path}"} + Entrada/Saída de caixa
      .divider
      %a.item Balance por Fornecedor
      %a.item Balance por Centro de custo
  .ui.simple.dropdown.item
    Administração
    %i.dropdown.icon
    .menu
      %a.item{href: "#{core.users_path}"} Gestão de Usuários
      %a.item{href: "#{core.requesters_path}"} Gestão de Solicitantes
      %a.item{href: "#{core.companies_path}"} Gestão de Empresas
      %a.item{href: "#{core.contracts_path}"} Gestão de Contratos
      %a.item{href: "#{core.users_path}"} Gestão de Avisos
  .right.menu
    .ui.simple.dropdown.item
      = current_user.name
      %i.dropdown.icon
      .menu
        %a.item{href: "#{main_app.profile_path}"} Meu Perfil
        %a.item{href: "#{main_app.logout_sessions_path}", data: { method: 'delete'}} Sair
